body {
  padding: none;
  }
  button {
    margin-top: 0px;
    line-height: 0px;
    font-weight: bold;
    padding: none;
    background: rgb(140, 142, 143);
    border: 1px solid #ccc; 
    height: 50px;
    width: 50px;
  }
  button:hover {
    background: rgb(237, 240, 80);
  }
  header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
  }
  p{
    text-align: center;
  }
  #forma {
    float:left;
    width:15%;
    padding:0 10px;
    box-sizing: border-box;
    text-align: center;
  }
  #karta {
    float:right;
    width:85%;
    padding:0 10px;
    box-sizing: border-box;
  }
  #my-form input[type='text'] {
    padding: 8px;
    margin-bottom: 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
